__pycache__/
*.pyc
# Ignore raw data
data/raw/

# Ignore everything in processed
data/processed/*

# EXCEPT final dataset (needed for app)
!data/processed/final_cdm_dataset.csv
.ipynb_checkpoints/
.DS_Store
